<div class="twc-container-inner">

    <div class="twc-div-table-t" style="table-layout: fixed;">

        {SITE_MAIN_INFO_PANEL}

        <div style="padding: 0px 0px 7px 7px;">
            <div id="twc-site-access-details-panel" style="overflow: auto; padding: 0px;">
                {SITE_ACCESS_DETAILS}
            </div>
            <script>
                jQuery('#twc-site-access-details-panel').height(jQuery('.twc-container-outer').height() - 14)
            </script>
        </div>

        {CONDITION_OF_ACCESS_PANEL}

        
    </div>

</div>