<style>
    /** STYLES **/
</style>

<div class="twc_page {TWC_PAGE_CLASS}" {TWC_PAGE_STYLE}>
    <div class="twc_action_menu">
        <div>
            {SAVE_EDIT_BUTTONS}
        </div>
        <div>
            {NAVIGATION_DROP_DOWN}
        </div>
        <div id="twc-action-errors" class="twc_action" style="display: none;" data-action="show-unhandled-errors" title="show un-handled errors">
            {ICON_EXCLAMATION}
        </div>
        <div id="twc-action-configs" class="twc_action" data-action="user-pref" title="edit user preferences">
            {ICON_GEAR}
        </div>
        <div id="twc-action-configs" class="twc_page_version" title="page version">
            {PAGE_VERSION}
        </div>
        <div class="twc_action_icon">
            {PERMISSION_ICON}
        </div>
    </div>

    <div class="twc-container-outer">

        {PAGE_CONTENT}

    </div>

    <data id="twc-page-data">
        {PAGE_DATA}
    </data>
</div>

<script>
    /** THEME **/
</script>