<div class="twc-container-inner">

    <div class="twc-div-table-t" style="table-layout: fixed;">

        <div style="padding: 0px 0px 7px 7px;">
            <div id="twc-company-profile-panel" style="overflow: auto; padding: 0px;">
                {COMPANY_DETAILS}
            </div>
            <script>
                jQuery('#twc-company-profile-panel').height(jQuery('.twc-container-outer').height() - 14)
            </script>
        </div>


        <div style="width: 30%; padding: 0px 0px 7px 7px;">
            <div id="twc-company-profile-panel" style="overflow: auto; padding: 0px;">
                {COMPANY_PROFILES}
            </div>

        </div>


    </div>

</div>