<div class="twc-container-inner">

    <div class="twc-div-table-t">
        <div id="twc-google-map-container" class="twc-border" style="height: 50vh; width: 50%;">



        </div>
        <div class="twc-border">

            <h3 class="twc">Site Locator</h3>
            <div class="twc-div-table-r">
                <div>
                    {FILTER_NAME}
                </div>
                <div>
                    {FILTER_SITE_TYPE}
                </div>
                <div>
                    {FILTER_COUNTIES}
                </div>
                <div>
                    {FILTER_REGION}
                </div>
                <div>
                    {FILTER_PORTFOLIO}
                </div>
            </div>

            <h3 class="twc">Filter by Location</h3>
            <div class="twc-div-table-r">
                <div>
                    {FILTER_LAT}
                </div>
                <div>
                    {FILTER_LNG}
                </div>
                <div>
                    {FILTER_RADIUS}
                </div>
            </div>


            <h3 class="twc">Site Actions</h3>
            <div class="twc-div-table-r">
                <div>
                    {ACTION_NEW_SITE}
                </div>
            </div>

        </div>
    </div>

    <div id="twc_sites_table" class="twc-border">
        
    </div>

</div>

<div class="twc-overlay" style="padding-top: 41vh;">
    <span class="twc-wait-cursor">
        {ICON_WAITWHEEL}
    </span>
</div>